body {
  text-align: center;
}

body,
button {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

button {
  margin-top: 5px;
}

header {
  display: inline-block;
  font-size: 3rem;
  margin: 40px 0;
  text-align: left;
  width: 900px;
  font-weight: 100;
}

ul li {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

#container {
  display: inline-block;
  text-align: center;
  width: 900px;
}

#indent {
  margin-left: 15px;
  width: 50px;
}

input {
  margin-left: 15px;
}

#options {
  display: inline-block;
  margin-top: 20px;
  width: 200px;
}

#textarea {
  display: inline-block;
  float: left;
  font-family: monospace;
  font-size: 1rem;
  height: 500px;
  min-width: 600px;
  overflow: scroll; /* Necessary to prevent some weird Mac bug that deletes a floated textarea on *input* */
  /*resize: none;*/
  text-align: left;
}

.row {
  text-align: center;
}
