#input, #output {
  min-height: 400px;
  width: 300px;
  border: 1px solid black;
  display: block;
  text-align: left;
}

#input {
  float: left;
}

#output {
  float: right;
}

#clean {
  display: inline-block;
  clear: right;
}

#wrapper {
  width: 800px;
  text-align: center;
  display: inline-block;
}

body, textarea, button {
  font-family: 'Nunito', sans-serif;
}

body {
  text-align: center;
}

